body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:3em;     
}

.body-left {
  width: 28.5em;
  margin: -1em;
  position: relative;
  display: flex;
}

@media (max-width:980px){
  .body-left {
    display:none;
  }
}
@media (max-width:981px){
  .body-left {
      display:" ";
  }
}

.body-left img {
  width:100%;
  z-index:1;
}

.test {
  width: 15em;
  position: absolute;
  top: 6.3em;
  height: 26em;
  left: 9.5em;
  z-index: 2;
}

.body-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-right-first {
  width: 22em;
  height: 23.7em;
  border: rgba(181, 181, 181, 0.5) 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logo-div {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
  
.logo-div img {
  width:50%;
  cursor: pointer;
}

.idpass-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hr-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr-div span {
  font-size: 0.9em;
}

.hr-div-inner {
  width: 5.9em;
}

input {
  width: 18.7em;
  height: 2.5em;
  border-radius: 0.3em;
  border: rgba(181, 181, 181, 0.5) solid 0.1em;
  margin: 0.1em;
  padding: 0 0.5em;
}

input::placeholder {
  color: rgba(181, 181, 181, 1);
  font-size: 0.9em;
  text-align: left;
}

input:focus {outline:none;}
button:focus {outline:none;}
  
.loginbutton {
  width: 18.7em;
  height: 2.3em;
  border-radius: 0.3em;
  border:rgba(var(--d69,0,149,246),.3);    
  background-color:rgba(var(--d69,0,149,246),.3);
  color:white;
  margin: 1em 0 0 0;
  outline:0;
}

.afterbutton {
  background-color:rgba(var(--d69,0,149,246),1);
  cursor: pointer;  
} 

.info-div {
  height: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.info-div button { 
  color:#385185;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;  
  outline:none;
  border:rgba(var(--d69,0,149,246),.3);    
  background-color:white;
  display: flex;
  align-items: center;
}

.info-div button img {
  width: 1em;
}

.info-div button a {
  margin:0 0.5em;
}

.info-div span { 
  font-size: 0.8em;
  cursor: pointer;
}

.body-right-second {
  width: 22em;
  height: 4em;
  border: rgba(181, 181, 181, 0.5) 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0.5em 0;
}

.body-right-second span {
  font-size: 0.9em;
}

.body-right-second a {
  color:rgba(var(--d69,0,149,246),1);
  font-size: 0.8em;
  cursor: pointer;
  font-weight: bold;
}

.body-right-third {
  width: 22em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0.5em 0;
}

.body-right-third span {
  font-size: 0.9em;
}

.body-right-four {
  width: 22em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download {
  margin: 0 0.2em;
  width: 8em;
  height: 2.5em;
}

footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5em 3em;
}

.footer-left a {
  margin:0 0.5em;  
  font-size: 0.7em;
  font-weight: bold;
  cursor: pointer;
}

.footer-right span {
  font-size: 0.7em;
  font-weight: bold;
  color:rgba(181, 181, 181, 1)
}